/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root.theme-dark {
  --bg-color: oklch(12.51% 0.08662634250574062 264.0559517005978);
  --title-decor-color: oklch(12.51% 0.08662634250574062 264.0559517005978);
  --accent-color: oklch(64.11% 0.2568555184439196 7.4525700712725955);
  --title-main-color: oklch(64.87% 0.311 320.15);
  --text-color: oklch(82.98% 0.081 350.65);
}
.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
}

/* Остальные стили */ 

/* Чтобы менять фоновое изображение в зависимости от темы,
вам нужно будет использовать селекторы .theme-dark .page и theme-light .page. */