:root .theme_light {
  --bg-color: oklch(97.08% 0.0169 349.48);
  --bg-img: url(../images/cover-image-light.png);
  --accent-color: oklch(78.42% 0.1544 347.44);
  --title-main-color: oklch(87.93% 0.08316121088676925 342.75276791056524);
  --text-color: oklch(32.46% 0.0071 95.28);
  --text-alt-color: oklch(32.46% 0.0071 95.28);
}
@media (prefers-color-scheme: light) {
  :root {
    --bg-color: oklch(97.08% 0.0169 349.48);
    --bg-img: url(../images/cover-image-light.png);
    --accent-color: oklch(78.42% 0.1544 347.44);
    --title-main-color: oklch(87.93% 0.08316121088676925 342.75276791056524);
    --text-color: oklch(32.46% 0.0071 95.28);
    --text-alt-color: oklch(32.46% 0.0071 95.28);
  }

  .theme_auto .text-font-title {
    color: var(--text-color);
  }

  .theme_auto .header__logo::before {
    display: none;
  }

  .theme_auto .header__logo::after {
    display: none;
  }
}

.theme_light .text-font-title {
  color: var(--text-color);
}

.theme_light .header__logo::before {
  display: none;
}

.theme_light .header__logo::after {
  display: none;
}
