/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-color: var(--bg-color);
  background-image: url(../images/cover-image-dark.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.text-font-setup {
  color: var(--text-color);
  font-family: var(--main-font);
  font-size: 1.125em;
  font-weight: 400;
  line-height: 23.4px;
  letter-spacing: 0%;
  text-align: left;
}

.header {
  display: grid;
  position: relative;
  block-size: 100vh;
  padding-block: var(--page-padding);
  padding-inline: var(--page-padding);
  margin-block-end: 50px;
}

.header__theme-menu {
  justify-self: end
}

.title {
  color: var(--title-main-color);
  font-family: var(--main-font);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  /* font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);  для 1024 */
  /* font-size: clamp(9.8125rem, 7.0433rem + 4.3269vw, 10.9375rem);  для 1440 */
  font-weight: 700;
  line-height: 82.5%;
  letter-spacing: 0%;
  text-align: left;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.text-font-title {
  font-weight: 700;
  color: var(--accent-color);
}

.title-decor {
  inline-size: 100%;
  block-size: min-content;
  background-color: var(--accent-color);
  color: var(--title-decor-color);
}

.header__logo::before {
  content: "REC";
  position: absolute;
  color: var(--accent-color);
  inset-inline-end: 38px;
  inset-block-start: 10px;
}

.header__logo::after {
  content: "";
  position: absolute;
  color: var(--accent-color);
  border-radius: 50%;
  inset-block-start: 18px;
  inset-inline-end: 20px;
  inline-size: 9px;
  block-size: 9px;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.decorated-zone::before {
  content: "";
  justify-self: flex-end;
  inline-size: 25px;
  block-size: 25px;
  border-inline-end: 1px solid var(--accent-color);
  border-block-start: 1px solid var(--accent-color);
}

.decorated-zone::after {
  content: "";
  position: relative;
  align-self: flex-end;
  inline-size: 25px;
  block-size: 25px;
  border-block-end: 1px solid var(--accent-color);
  border-inline-start: 1px solid var(--accent-color);
}

.header__theme-menu-item:not(:last-child) {
  margin-block-end: 13px;
}

.header__theme-menu-button {
  box-sizing: border-box;
  color: var(--accent-color);
  background-color: transparent;
  border: 1px solid transparent;
  padding-inline: 13px;
  text-transform: lowercase;
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  cursor: pointer;
  border: 1px solid var(--accent-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-block-end: 1px solid var(--accent-color);
}

.content {
  color: var(--text-color);
  margin-block-start: var(--page-padding);
}

.section-content {
  display: grid;
  gap: 20px;
  padding-inline: var(--page-padding);
  padding-block-end: 50px;
}

.section-content_gallery {
  gap: 10px;
}

.content-link {
  text-decoration: none;
  text-shadow: 2px 3px 0 var(--accent-color);
}

.content-link:hover {
  border-block-end: 1px solid currentColor;
}

.content-link:focus {
  outline: none;
}
.content-link:focus-visible {
  outline: none;
  border: 1px solid currentColor;
}

.gallery {
  display: grid;
  gap: 10px;
}

.gallery-img {
  inline-size: 100%;
}

.footer {
  display: grid;
  block-size: 100vh;
  padding-block: var(--page-padding);
  padding-inline: var(--page-padding);
}

.footer-title {
  align-self: center;
  justify-self: center;
}